.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(135deg, #e8f5e9 0%, #e8f5e9 25%, transparent 25%, transparent 75%, #e8f5e9 75%, #e8f5e9 100%),
            linear-gradient(-45deg, #f3dbe3 0%, #f3dbe3 25%, transparent 25%, transparent 75%, #f3dbe3 75%, #f3dbe3 100%),
            linear-gradient(to left, #f3dbe3, #ffffff, #caedfd); /* Gradient on the sides */
  background-blend-mode: normal, normal, normal, multiply; /* Apply blending mode for gradient overlap */
}
